*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;

}
.button__primary{
    display: flex;
    margin-left: 100px;
}
.button__primary{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 20px #eee;
  border-radius: 4px;
  display: block;
}
.button__primary:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
.container{
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f9fafc;
     box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
    z-index: 9999;
}
.navbar__brand{
    width: 100px;
}
.navbar__logo{
    width: 100%;
}
.nav__item{
    background-image: linear-gradient(
        to right,
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
}
.nav__item:hover{
    border: 2px solid blue;
  
}
.hero__image__container{
    position: relative;
    width: 100%;
}
.hero__image__shape{
    position:absolute;
    right: 2;
}
.hero__image{
    position: absolute;
    width: 100%;
    right: auto;
    left: auto;
    z-index: 2;
    border-radius: 6px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

}
.hero__text{
    font-size: 30px;
    margin: 20px 0;
}
.video__footage__container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .video__footage {
    position: relative;
  }
  .video__footage::before {
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(1rem, 1rem);
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  
  .video__footage__text {
    margin-top: 2rem;
    color: #1d3557;
    font-size: 1.25rem;
    font-weight: 300;
    text-align: center;
  }
  .explore__menu__text{
      font-size: 30px;
      margin-top: 50px;
      margin-bottom: 25px;
      text-align: center;
  }
  .food__card{
      background-color:#fff ;
      margin-bottom: 15px;
      border-radius: 8px;
  }
  .food__card__images__container{
    width: 100%;  
    
  }
  .food__image{
      width: 100%;
    border-radius:8px  8px 0 0;
  }
  .food__card__description{
      padding: 15px;
  }
  /*flexxxx*/
  .retaurant__text{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
  }
  .restaurant__images__container {
      width: 100%;
      
  }
  .restaurant__list__row__one, .restaurant__list__row__two{
      width: 100%;
      display: flex;
      gap: 5px;
  }
  .restaurant__list__row__one{
      align-items: baseline;
      margin-bottom: 3px;
  }
 
  .restaurant__image__2,
  .restaurant__image__3{
      width: 120%;
      height: 180px;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      
  }
  
.restaurant__image__4,
.restaurant__image__1{
    width: 100%;
    height: 120px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}
.restaurant__image__4,
.restaurant__image__3{
    margin-top: 3px;
}
.restaurant__1,.restaurant__2,.restaurant__3,.restaurant__4{
      width: 100%;
      height: 100%;
  }
  .email__subcribe__container{
      width: 100%;
      margin-top: 3rem;
       
        padding: 15px;
        margin-right: auto;
        margin-left: auto;
      
  }
 .text-x1{
     text-align: center;
     font-size: 30px;
      margin-top: 40px;
      margin-bottom: 25px;
      width: 100%;

 }
 .email__subcribe__inpute__field{
     display: flex;
     align-items: center;
 }
 .email__input{
    border: 1px solid #ee89a0;
    background-color: #fcedf0;
    color: #1d3557;
    font-weight: 700;
    padding: 0.5rem;
    border-radius: 4px;
 }
 .email__input::placeholder {
    color: #bdbcbc;
  }
.email__subcribe__inpute__field .button__primary{
      margin-left: 0;
  }
  .quote__container {
    position: relative;
    margin-top: 4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 240px;
    width: 100%;
    border-radius: 10px;
    background: url("https://images.unsplash.com/photo-1521917441209-e886f0404a7b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTB8fHJlc3RhdXJhbnR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
    center center/cover no-repeat;
  }
  .quote_image_overlay {
    position: absolute;
    height: 200px;
    width: 100%;
    border-radius: 13px;
    background-color: #0a4065;
    opacity: 49%;
  }
  .quote_image_text {
    color: #fff;
    z-index: 3;
    margin: 0 1rem;
    text-align: center;
  } 
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem 1rem 0 0;
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
}
footer>img{
    width: 300px;
    filter: brightness(0) invert(1);
}
footer > ul {
    margin-top: -1rem;
    
    color: #fff;
  }
  
  footer > ul > li {
    margin: 5px 0;
  }
@media(min-width:768px){
    .navbar{
        justify-content: space-between;
        padding: 2px 30px;
    }
    .hero__container{
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-bottom: 40px;

    }
    .hero__image{
        margin-top: 2rem;
    }
    .video__footage__container {
        margin-bottom: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

      }
    
      .video__footage {
        margin-right: 2rem;
      }
      .video__footage__text {
        margin-left: 2rem;
      }
      .explore__menu__lits{
          margin-top: 40px;
          display: flex;
          gap: 15px;
          padding: 0 30px ;

      }
      #pizza__card{
          margin-top: -20px;
          margin-bottom: 30px;
      }
      .explore__menu__container{
          margin-top: 30px;
      }
      .explore__menu__view__more{
          display: flex;
          justify-content: center;
      }
      .explore__menu__container{
          position: relative;
      }
      .explore__menu__gradient__bg{
          position:absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: linear-gradient(
            to right,
            #ff512f 0%,
            #dd2476 51%,
            #ff512f 100%
        );
        transform: skewY(-5deg);
        z-index: -3;
      }
      .resturant__container{
          display: flex;
          align-items: center;
      }
      .retaurant__text{
          width: 100%;
          
          font-size: 40px;
      }
  .email__subcribe__container{
      width: 100%;
      display: flex;
      justify-content: center;
  }  
  .email__input{
      width: 20rem;
  }
  .quote__container {
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    
    
  }
  .quote_image_overlay {
    position: absolute;
    height: 300px;
    width: 100%;
    border-radius: 13px;
    background-color: #0a4065;
    opacity: 49%;
    
    
    
  }
  .quote_image_text {
    color: #fff;
    z-index: 3;
    margin:0 1rem;
    
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
  }
  footer {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

}

@media(min-width:1020px){
    .container{
        max-width: 1140px;
    }
    .navbar{
        padding: 0 3rem;
    }
    .button__primary{
        padding: 1rem 2rem;
        font-size: 1rem;
        
    }
    .navbar__brand{
        width: 150px;

    }
    .nav__item{
        padding: 20px;
        font-size: 20px;
    }
    .hero__description{
        width: 100%;
    }
    .hero__text{
        font-size: 3rem;
        line-height: 1;
    }
    .video__footage__container {
        display: flex;
        flex-direction: column;
      }
      .video__footage__text {
        width: 60%;
      }
      .explore__menu__lits{
          gap: 40px;
      }
      .explore__menu__text{
          font-size: 50px;
      }
      .email__subcribe__container{
          width: 100%;
      }
      .text-x1{
          font-size: 35px;
      }
     .email__input{
         width: 500px;
         padding-top: 11px;
         padding-bottom: 11px;
         font-size: 20px;
     } 
}

